<mat-card class="product-card">
    <mat-card-header>
        <mat-card-title> {{product.name}}</mat-card-title>
        <mat-card-subtitle> {{product.category.name}}</mat-card-subtitle>
        <app-rating-stars [rating]="product.note"></app-rating-stars>
    </mat-card-header>
    <img mat-card-image [src]="product.imageUrl" class="product-card_image">
    <mat-card-content>
        <p>
            {{product.description}}
        </p>
        <div class=" price_container">
            <p class="product_price">{{product.price}}</p>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <app-add-to-cart></app-add-to-cart>
    </mat-card-actions>
</mat-card>