<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{category.name}}</mat-card-title>
            <mat-card-subtitle>Plus de {{products.length}} produits sont disponibles immmédiatement</mat-card-subtitle>
            <div class="seach_container">
                <input class="search-field" type="text" name="search" [(ngModel)]="searchProduct" autocomplete="on"
                    placeholder="Rechercher un produit">
            </div>
        </mat-card-title-group>
    </mat-card-header>
    <div class="product-card-array">
        <app-product-card class="product-card-component" *ngFor="let product of products | filter:searchProduct"
            [product]="product"></app-product-card>
    </div>
</mat-card>