<div *ngIf="productInCart; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <mat-form-field class="example-form-field">
        <mat-label>nbrItems</mat-label>
        <input matInput type="number">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</ng-template>
<ng-template #elseBlock>
    <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>Ajouter au panier</mat-icon>
        </button>
    </div>
</ng-template>