    <div class="footer">

    <section class="section_footer">
        <h3>A propos</h3>
        <a href="#">Fonctionnement du site</a>
        <a href="#">Conditions générales de vente</a>
        <a href="#">Données et confidentialité</a>
      </section>
      <section class="section_footer">
        <h3>Notre matériel</h3>
        <a href="#">Charte qualité</a>
      </section>
      <section class="section_footer">
        <h3>Assistance</h3>
        <a href="#">Centre d'aide</a>
        <a href="#">Nous contacter</a>
      </section>

      </div>
